@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300;600&family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
body{
    background: linear-gradient(225deg, rgb(36, 99, 209), rgb(36, 99, 209), rgb(36, 99, 209));
}
h2{
    font-family: 'Oswald', sans-serif;
}
header{
    background: rgb(34, 34, 211);
    display: flex;
    align-items: center;
    justify-content: center;
}
header .logo{
    margin: 0;
    color: white;
    font-family: 'Pacifico', cursive;
    font-size: 2.7em;
    align-items: center;
    justify-content: center;
}
#TarjetasPoke {
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: justify;
    grid-template-columns: 250px 250px 250px;
    grid-template-rows: 350px 400px;
}
#TarjetasPoke .container{
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 3px solid black;
    background-color: beige;
    margin: 0 15px 0 15px;
}